<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="HWW_MenuCreate::item" title="Custom Category Search" translate="title" module="HWW_MenuCreate" sortOrder="50" resource="HWW_MenuCreate::item" parent="Harriswebworks_Core::all" />
        <add id="HWW_MenuCreate::item_create" title="Item List" translate="title" module="HWW_MenuCreate" parent="HWW_MenuCreate::item" sortOrder="10" action="menucreate/create/index" resource="HWW_MenuCreate::item"/>
        <add id="HWW_MenuCreate::category_create" title="Category List" translate="title" module="HWW_MenuCreate" parent="HWW_MenuCreate::item" sortOrder="20" action="menucreate/category/index" resource="HWW_MenuCreate::item"/>
    </menu>
</config>