<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Harriswebworks_Glossary::glossarys" title="Manage glossarys"/>
                <!-- <resource action="harriswebworks_glossary_glossarys/index/index"
                id="Harriswebworks_Glossary::harriswebworks_glossary_glossarys_menu" /> -->
            </resource>
        </resources>
    </acl>
</config>
